@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
    -ms-touch-action: pan-x pan-y;
    touch-action: pan-x pan-y;
    height: 100%;

    --light: #efede0;
    --yellow: #fcbf49;
    --orange: #f77f00;
    --red: #d62828;
    --dark-blue: #003049;
}

body {
    background-color: var(--light);
}

main {
    height: 50vh;
}

button {
    margin-top: 0.5em !important;
}

bg {
    margin: 5em 8em 5em 8em;
}


.firstLine {
    /* height: 10rem !important; */
    /* height: fit-content !important; */
    margin-bottom: 2rem
}

.memRow {
    background-color: var(--yellow);
    border-radius: 100px;
    margin-top: 5px;
    text-align: center;
    color: var(--dark-blue);
    border: solid 1px;
    border-color: var(--dark-blue);
}

#display {
    background-color: var(--dark-blue);
    max-width: 700px;
    margin-top: 0.5rem !important;
    border-radius: 25px;
    color: aliceblue;
    font-family: 'Space Mono', monospace;
    font-size: 5rem;
}

#oneDown,
#oneUp {
    background-color: var(--yellow);
    height: 80%;
    border-color: var(--dark-blue);
}

#fiveDown,
#fiveUp {
    background-color: var(--orange);
    height: 30%;
    border-color: var(--dark-blue);
}

#oneDown img,
#oneUp img {
    height: 4rem;
}

#fiveDown img,
#fiveUp img {
    height: 1.8rem;
}

#save button,
#reset button {
    background-color: var(--red);
    height: 100%;
    border-color: var(--dark-blue);
}

#memo button {
    background-color: var(--orange);
    height: 100%;
    border-color: var(--dark-blue);
}

.counter,
.options {
    max-width: 700px;
    min-width: 250px;
}

@media screen and (min-width: 768px) {

    #oneDown,
    #oneUp {
        height: 70%;
    }

    #fiveDown,
    #fiveUp {
        height: 30%;
    }
    
}